/** CSS STYLE **/
@font-face {
    font-family: 'Neucha-Regular';
    src: url('../assets/fonts/Neucha/Neucha-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

:root {
    --white: #fff;
    --semi-white: #d7ccc0;
    --light: #f5f4f0;
    --basic-orange: #fe8a02;
    --basic-dark: #42413c;
    --dark: #2a2626;
    --grey: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font: 16px/1.6em OpenSans-Regular, sans-serif;
    color: var(--dark);
    
}

h1 {
    font: 72px/1.2em Neucha-Regular, sans-serif;
}

h2 {
    font: 60px/1.2em Neucha-Regular, sans-serif;
}

h3 {
    font: 34px/1.2em Neucha-Regular, sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.max-width {
    max-width: 1110px;
    padding-top: 100px;
    padding-bottom: 100px;
    
    
}


.relative {
    position: relative;
    
}
.inline {
    
    display: inline;
}
.header-img {
    position: absolute;
    top: 55px;
    right: -270px;
    z-index: -1;
}
.header-img img {
    height: 525px;
    
}
.margin-30 {
    margin-right: 30px;
}
.text-section {
    
    flex-basis: 540px;
}
.padding-top {
    padding-top: 185px;
}
.margin-b-0 {
    margin-bottom: 0px;
}
.orange {
    color: var(--basic-orange);
}
.flex {
    display: flex;
}
button {
    background-color: var(--basic-orange);
    border: none;
    color: var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    font: 16px/1.6em OpenSans-Bold, sans-serif;
  }
.grey-background::before {
    content: url('../assets/images/background.png');
    
    background-color: var(--brown);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 10%;
    width: 100%;
    
}
